body{
    font-family: arial;
    background: #EFF2F5;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img{width: 100%;}

.text-gray{
    color: #65676b;
}
p{line-height: 1.5rem;}

.fs-90{
    font-size:90%;
}